
Week 2/w1d1/
Week 2/w1d2/
Week 6/w6d1_Playground/Intermediate/Build/Win64/w6d1_PlaygroundEditor/Development/Engine/SharedPCH.Engine.ShadowErrors.h.pch
Week 6/w6d1_Playground/.vs/w6d1_Playground/v17/Browse.VC.db
Week 6/w6d1_Playground/.vs/w6d1_Playground/v17/ipch/6ac1ad1ce5da0a3c.ipch
Week 6/w6d1_Playground/.vs/w6d1_Playground/v17/ipch/f67ecc2cfff7eac8.ipch
Week 6/w6d3_TheDoor_ver2/.vs/w6d3_TheDoor_ver2/v17/Browse.VC.db
Week 6/w6d3_TheDoor_ver2/Intermediate/Build/Win64/w6d3_TheDoor_ver2Editor/Development/Engine/SharedPCH.Engine.ShadowErrors.h.pch
Week 6/w6d3_TheDoor_ver3/.vs/w6d3_TheDoor_ver3/v17/Browse.VC.db
Week 6/w6d3_TheDoor_ver3/Intermediate/Build/Win64/w6d3_TheDoor_ver3Editor/Development/Engine/SharedPCH.Engine.ShadowErrors.h.pch
Week 6/w6d3_TheDoor_ver3/.vs/w6d3_TheDoor_ver3/v17/ipch/31a9b0b3208f7d56.ipch
Week 6/w6d3_TheDoor_ver2/.vs/w6d3_TheDoor_ver2/v17/ipch/687174a65f1d1f8c.ipch
Week 6/w6d3_TheDoor_ver2/.vs/w6d3_TheDoor_ver2/v17/ipch/1bb364edfc0ec632.ipch
Week 6/w6d3_TheDoor_ver3/Saved/Crashes/*
Week 6/w6d3_TheDoor_ver3/Saved/Logs/*
Week 6/w6d3_TheDoor_ver3/Saved/webcache_4147/Cache/*
